In [1]:
# collection = single variable that is used to store multiple value
# List = [] ordered and changable, Duplicates OK
# Set = {} unordered and immutable, but Add/Remove OK, no Duplicates
# Tuples = () ordered and unchangable, Duplicates are Ok, Faster

In [7]:
fruits = ["apple", "orange", "banana", "coconut"]

print(fruits[::-1])

['coconut', 'banana', 'orange', 'apple']

In [10]:
# iterate with a for loop 

for fruit in fruits:
    print(fruit[])

appl
orang
banan
coconu

In [11]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
courses =["History", "Math", "Physic", "Computer Sci"] # Creating a list
print(courses)
print(len(courses))

['History', 'Math', 'Physic', 'Computer Sci']
4

In [14]:
print(courses[0])

History

In [16]:
print("This is the last index",courses[3])

This is the last index Computer Sci

In [18]:
print(courses[-1])

Computer Sci

In [23]:
# Access a range of values

print(courses[2:]) # This is called slicing

['Physic', 'Computer Sci']

In [24]:
# List methods 

# add an item to list that will append to the end of the list
courses.append('Art')

print(courses)

['History', 'Math', 'Physic', 'Computer Sci', 'Art']

In [27]:
# Insert method, which is inserting element into a specific index

# takes the (index,value)

courses.insert(0,'Biology')
print(courses)

['Biology', 'Biology', 'Biology', 'History', 'Math', 'Physic', 'Computer Sci', 'Art']

In [30]:
# deleting a specific index from list
del courses[0]
print(courses)

['Biology', 'History', 'Math', 'Physic', 'Computer Sci', 'Art']

In [32]:
# extend method is when we want to add multiple values to our list
courses2 = ['Art', 'Education']
# course.insert(0,courses2)  created a list in a list instead of extending the list

courses.extend(courses2)

print(courses)

['Biology', 'History', 'Math', 'Physic', 'Computer Sci', 'Art', 'Art', 'Education']

In [33]:
# Remove values from list

courses.remove('Math') # Removes a specific element from the list
print(courses)

['Biology', 'History', 'Physic', 'Computer Sci', 'Art', 'Art', 'Education']

In [35]:
# Pop method 
removedItem = courses.pop() # By default without arguments, it will remove the last value

print(courses)
print()
print(removedItem)

['Biology', 'History', 'Physic', 'Computer Sci', 'Art']

Art

In [39]:
# Sorting a list methods

animals = ['pig', 'cow', 'ladybug']
animals.reverse()
print(animals)

['ladybug', 'cow', 'pig']

In [40]:
animals.sort()
print(animals)

['cow', 'ladybug', 'pig']

In [42]:
# sorting numbers in a list with the sorting method

num = [1, 5, 34, 5, 76]
num.sort()
print(num)
print(animals)

[1, 5, 5, 34, 76]
['cow', 'ladybug', 'pig']

In [45]:
# Sorting values in descending order
num.sort(reverse=True)
print(num)

[76, 34, 5, 5, 1]

In [49]:
# Sorting a list without changing the list 
sorted_courses = sorted(courses)
print(sorted_courses)
print(courses)

['Art', 'Biology', 'Computer Sci', 'History', 'Physic']
['Biology', 'History', 'Physic', 'Computer Sci', 'Art']

In [51]:
# Min, Max, Sum methods in a list

print(max(num)) # max of list

76

In [52]:
print(min(num)) # min of list

1

In [53]:
print(sum(num))

121

In [54]:
# Finding values in a list

# index of compsci, not the value
print(courses.index('Computer Sci'))

3

In [55]:
# If we try to find a value, that doesnt exist in the list, You will get an error.

In [58]:
# Check if a value is inside of a list
print('Art' in courses)
print('Zoolology' in courses)

True
False

In [62]:
# Looping in a list 
for index in courses:
    print(index)

Biology
History
Physic
Computer Sci
Art

In [64]:
# Accessing index and value by using the enumerate function

for index, course in enumerate(courses, start=1):
    print(index, course)

1 Biology
2 History
3 Physic
4 Computer Sci
5 Art

In [67]:
# turn list into string

course_str = ', '.join(courses)

new_list = course_str.split(', ')
print(course_str)
print(new_list)

Biology, History, Physic, Computer Sci, Art
['Biology', 'History', 'Physic', 'Computer Sci', 'Art']

In [68]:
# Tuples = ()
# tuples are immutable and cant be change
# Cannot append  
tuples1 = ('History', 'Biology', 'Math', 'Compsci')
tuples2 = tuples1

print(tuples1)
print(tuples2)

('History', 'Biology', 'Math', 'Compsci')
('History', 'Biology', 'Math', 'Compsci')

In [69]:
# Sets are unordered and does not have any duplicates

# Sets are used to remove duplicate values and to test if a value is part of a set

In [80]:
cs_courses = {'Discrete', 'Organization', 'Programming Theory', 'Software Engineer'
              , 'Discrete'}
art_courses = {'Discrete', 'Math', 'Levels Theory', 'Software Engineer'
              , 'Discrete'}

print(cs_courses.union(art_courses))

{'Discrete', 'Levels Theory', 'Organization', 'Software Engineer', 'Math', 'Programming Theory'}

In [75]:
print(cs_courses)

{'Programming Theory', 'Discrete', 'Organization', 'Software Engineer'}